<h2>Hello {{ user.name }}</h2>
<app-graph *ngIf="stocks[0].data.length" [stocks]="stocks"></app-graph>
<div>
  <button class="btn btn-primary" (click)="open(content)">
    Change Ticker/Compare
  </button>
</div>
<a id="logout-link" (click)="logout($event)" href="#">Logout</a>

{{ closeResult }}

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div>
  <div class="modal-body">
    <form>
      <div class="mb-3">
        <p>testing only lorem ipsum dolor sil amet</p>
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                {{ dd1 }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  *ngFor="let ticker of tickers"
                  ngbDropdownItem
                  [disabled]="ticker === dd3 || ticker === dd2"
                  (click)="dd1Change(ticker)"
                >
                  {{ ticker }}
                </button>
              </div>
            </div>

            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                {{ dd2 }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  *ngFor="let ticker of tickers"
                  ngbDropdownItem
                  [disabled]="ticker === dd1 || ticker === dd3"
                  (click)="dd2Change(ticker)"
                >
                  {{ ticker }}
                </button>
              </div>
            </div>

            <div ngbDropdown class="d-inline-block">
              <button
                type="button"
                class="btn btn-outline-primary"
                id="dropdownBasic1"
                ngbDropdownToggle
              >
                {{ dd3 }}
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                <button
                  *ngFor="let ticker of tickers"
                  ngbDropdownItem
                  [disabled]="ticker === dd1 || ticker === dd2"
                  (click)="dd3Change(ticker)"
                >
                  {{ ticker }}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Applied')"
    >
      Apply
    </button>
  </div>
</ng-template>
